body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 8px;
}

input, select, button {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
}
